audioread==2.1.8
backcall==0.1.0
certifi==2020.4.5.1
cffi==1.14.0
cycler==0.10.0
decorator==4.4.2
entrypoints==0.3
essentia==2.1b6.dev234
ipykernel==5.1.4
ipython==7.13.0
ipython-genutils==0.2.0
jedi==0.16.0
joblib==0.14.1
jupyter-client==6.1.2
jupyter-core==4.6.3
kiwisolver==1.2.0
librosa==0.7.2
llvmlite==0.32.0
matplotlib==3.2.1
numba==0.49.0
numpy==1.18.3
pandas==1.0.3
parso==0.6.2
pexpect==4.8.0
pickleshare==0.7.5
prompt-toolkit==3.0.4
ptyprocess==0.6.0
PyAudio==0.2.11
pycparser==2.20
Pygments==2.7.4
pyparsing==2.4.7
PyQt5==5.14.2
PyQt5-sip==12.7.2
python-dateutil==2.8.1
pytz==2020.1
PyYAML==5.3.1
pyzmq==18.1.1
resampy==0.2.2
scikit-learn==0.22.2.post1
scipy==1.4.1
seaborn==0.10.1
six==1.14.0
SoundFile==0.10.3.post1
tornado==6.0.4
traitlets==4.3.3
wcwidth==0.1.9
